@import '../../global/variables.css';

.reception-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 840px) {
  .reception-img {
    max-width: 80%;
    padding-bottom: 1rem;
  }
}

.outside-img {
  float: left;
  margin-right: 2rem;

  /* Fix for IE/Edge making the image 100% width */
  width: inherit;
}

@media screen and (max-width: 420px) {
  .outside-img {
    width: 100%;
  }
}

.book-consultation {
  display: block;
  color: var(--primary-green);
  font-weight: bold;
  font-size: var(--default-font-size);
  text-align: center;
}

.opening-hours {
  margin: 0 auto;
  padding: 2rem 0;
  width: 20rem;
}