@import '../../global/variables.css';

@media screen and (min-width: 840px) {
  .reception-img {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
}

.float-left {
  float: left;
  margin-right: 2rem;
}

/* Opening hours table */
table td,
table td time {
    font-size: 1.4rem;
    color: #38204A
}

table td {
    vertical-align: top
}

table.style1 {
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse
}

table.style1 td {
    padding: .5rem
}

table.style1 th {
    background-color: #38204A;
    color: #FFF;
    padding: 1rem
}