@import "../../global/variables.css";

:host {
  display: block;
}

h3 {
  color: var(--primary-black);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: bold;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.product h2 {
  margin-top: 0;
  flex: 2 0;
}

nav {
  flex: 1 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-bottom: 0;
}

nav ul li a {
  text-decoration: none;
  text-transform: lowercase;
}

/* 
  Product details 
*/
.product-more-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.product-more-details .image {
  display: block;
  margin: 0 auto;
  padding: 0 1rem 2rem 0;
}

.product-information {
  background-color: #ffffff;
  flex: 2 0 60%;
  padding: 1rem 1.4rem;
}

.product-information dl {
  display: flex;
  flex-wrap: wrap;
}

.product-information dt,
.product-information dd {
  font-family: var(--font-family);
  font-size: var(--paragraph-font-size);
  color: var(--primary-black);
  border-bottom: 1px dashed var(--primary-black);
  width: 50%;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.product-information dt {
  flex: 1 1 30%;
  width: 30%;
  /* display: inline-block; */
}

.product-information dd {
  flex: 3 1 70%;

  /* display: inline-block; */
  margin-inline-start: 0;
}
