@import '../../global/variables.css';

:host {
  display: block;
}

h3 {
  color: var(--primary-green);
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.float-right {
  float: right;
  margin-left: 2rem;
}

img {
  /* Bug fix for IE/Edge making the image width 100% */
  width: initial;
}

.bold {
  font-weight: bold;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  text-transform: lowercase;
}