@import "../../global/variables.css";

.btn {
  background-color: var(--primary-purple);
  color: #ffffff;
  display: block;
  width: 14rem;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.btn:hover {
  color: #ffffff;
}
