@import "../../global/variables.css";

:host {
  flex-shrink: 0;
}

footer {
  background-color: var(--primary-black);
  padding: 1rem;
  margin-top: 50px;
}

p,
span,
a {
  color: #fff;
  font-size: var(--small-font-size);
  text-align: right;
}
