@import "../../global/variables.css";

:host {
  display: block;
}

.contact-information {
  margin-top: 20px;
}

iframe,
.location {
  width: 100%;
}

h2 {
  color: var(--primary-black);
}

h2.small {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}
