@import '../../global/variables.css';

:host {
  display: block;
}

article {
  margin-bottom: 2rem;
  flex: 1 100%;
  margin-right: .5rem
}

h3 {
  font-family: var(--secondary-font-family);
  font-size: var(--default-font-size);
  font-weight: normal;
  color: #FFF;
  margin: 0 0 1rem;
  padding: 10px;
  
  background-image: url("/assets/images/background_dot_pink.png");
  background-color: var(--primary-black);

  text-align: center;
  text-transform: lowercase;
  vertical-align: middle
}
