/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

@import './variables.css';

@font-face {
  font-family: 'Lao-UI';
  font-style: normal;
  src: url("/assets/fonts/lao_ui.ttf") format("truetype")
}

@font-face {
  font-family: 'GeoSlab-Light';
  font-style: normal;
  src: url("/assets/fonts/geoslab_lt_bt.ttf") format("truetype")
}

@font-face {
  font-family: 'IconFonts';
  src: url("/assets/fonts/icomoon.eot");
  src: url("/assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.woff") format("woff"), url("/styles/fonts/icomoon.ttf") format("truetype"), url("/styles/fonts/icomoon.svg#svgFontName") format("svg")
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: inherit;
  text-decoration: none
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  position: relative;
  font-family: var(--font-family);
  font-weight: 300;
  min-height: 100%;
  background-color: #F3F3F3
}

p {
  font-family: var(--font-family);
  color: var(--primary-purple);
  margin-bottom: 1rem;
  line-height: 2rem
}

a {
  color: var(--primary-purple);
  font-size: 1.4rem;
  text-decoration: underline
}

/* a.em {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  display: block;
  color: var(--secondary-green);
} */

.noUnderline {
  text-decoration: none
}

/* p,
p span,
p strong {
  font-size: 1.4rem
} */

/* h2 {
  color: #928E1E;
  font-family: Lao-UI, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.4em
} */

/* .content h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-purple);
} */
