:root {
  --primary-purple: #38204A;
  --secondary-purple: #280840;
  --primary-green: #757217;

  --font-family: Arial, sans-serif;
  --secondary-font-family: GeoSlab-Light, Arial, sans-serif;
  --default-font-size: 16px;
  --paragraph-font-size: 1.4rem;
  --small-font-size: 1.2rem;
  --h2-font-size: 20px;
  --h3-font-size: 18px;
  --h4-font-size: var(--default-font-size);
}

h2 {
  color: var(--primary-green);
  font-family: var(--font-family);
  font-size: var(--h2-font-size);
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h3, h4 {
  font-size: var(--h3-font-size);
  font-weight: 700;
  color: var(--primary-purple);
  margin-bottom: 1rem;
}

h4 {
  font-size: var(--h4-font-size);
}

h3.small {
  font-weight: bold;
  font-size: var(--paragraph-font-size);
}

p {
  font-family: var(--font-family);
  font-size: var(--paragraph-font-size);
  color: var(--primary-purple);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 2rem;

  /* IE/Edge fix for text being displayed on the right for some reason */
  text-align: left;
}

p:first-child {
  margin-top: 0;
}

a {
  color: var(--primary-purple);
  font-family: var(--font-family);
  font-size: var(--paragraph-font-size);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: var(--primary-green);
}

ul {
  list-style-type: disc;
  padding: 0;
  margin: 0 0 0 25px;
}

ul li {
  font-size: var(--paragraph-font-size);
  font-family: var(--font-family);
  color: var(--primary-purple);
  padding-left: 0;
  margin-bottom: 1rem;
}

.screen-reader-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
