:root {
  --primary-black: #282c2d;
  --secondary-black: #6b6b6b;
  --primary-peach: #f2ece7;

  --font-family: Arial, sans-serif;
  --secondary-font-family: "GeoSlab-Light", Arial, sans-serif;
  --default-font-size: 16px;
  --paragraph-font-size: 1.4rem;
  --small-font-size: 1.2rem;
  --h1-font-size: 22px;
  --h2-font-size: 18px;
  --h3-font-size: 16px;
  --h4-font-size: var(--default-font-size);

  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

h1,
.as-h1 {
  color: var(--primary-black);
  font-family: var(--secondary-font-family);
  font-size: var(--h1-font-size);
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 2rem;

  font-weight: bold;
  font-size: 2.3rem;
  /* text-transform: uppercase; */
  letter-spacing: 4px;
}

h2 {
  color: var(--primary-black);
  font-family: var(--secondary-font-family);
  font-size: var(--h2-font-size);
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h3,
h4 {
  font-size: var(--h3-font-size);
  font-weight: normal;
  color: var(--primary-black);
  margin-bottom: 1rem;
}

h2.small {
  font-weight: bold;
  font-size: var(--paragraph-font-size);
  color: var(--primary-black);
}

h4 {
  font-size: var(--h4-font-size);
}

p {
  font-family: var(--font-family);
  font-size: var(--paragraph-font-size);
  color: var(--primary-black);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 2rem;

  /* IE/Edge fix for text being displayed on the right for some reason */
  text-align: left;
}

p:first-child {
  margin-top: 0;
}

a {
  color: var(--primary-black);
  font-family: var(--font-family);
  font-size: var(--paragraph-font-size);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: var(--primary-black);
}

ul {
  list-style-type: disc;
  padding: 0;
  margin: 0 0 0 25px;
}

ul li {
  font-size: var(--paragraph-font-size);
  font-family: var(--font-family);
  color: var(--primary-black);
  padding-left: 0;
  margin-bottom: 1rem;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.heading-wrapper {
  text-align: center;
}

.divider {
  background: var(--primary-black);
  display: inline-block;
  height: 3px;
  border-radius: 3px;
  width: 30px;
  margin-bottom: 10px;
}
