@import '../../global/variables.css';

table td {
  font-size: 1.4rem;
  color:var(--primary-black);
}

table td {
  vertical-align:top
}

table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse:collapse
}

table td {
  padding:.5rem
}

table th {
  background-color:var(--primary-black);
  color: #FFF;
  padding: 1rem;
  font-weight: normal;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.from, .sub-header {
  font-size: 1.4rem;
  color: var(--primary-black);
}