:host {
  display: block;
}

.social {
  background-color: #38204A;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social * {
  color: #FFF;
  text-decoration: none
}

.telephone {
  /* flex-grow: 3; */
}

.socialMedia {
  /* flex-grow: 1; */
}


/* 
  Icons 
*/
.phoneIcon:before {
  font-family: IconFonts;
  font-size: 1.2rem;
  content: "\e942";
  margin-right: .5rem;
}

.facebookIcon:before {
  font-family: IconFonts;
  font-size: 2rem;
  content: "\ea8c"
}


/* 
  Helper 
*/
.iconFontExplination,
.hidden {
  display: none
}