a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  display: block;
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  padding: 1.5rem;
  text-align: center;
}

header {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 930px) {
  header {
    justify-content: center;
  }
}

.header,
.subHeader {
  color: #928e1e;
}

header {
  background-color: var(--primary-black);
  padding: 1rem;
}

/* 
  Logo 
*/
.logo {
  width: 27rem;
  display: block;
  text-decoration: none;
  /* margin: 0 auto */
}

img {
  width: 100%;
}

/* 
  Nav bar 
*/
.nav {
  text-align: center;
}

.nav a {
  color: #ffffff;
  padding: 0 1rem;
  line-height: 3rem;
  text-transform: lowercase;
  white-space: nowrap;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav a.selected,
.nav a:hover {
  color: var(--primary-peach);
  text-decoration: underline;
}

@media screen and (max-width: 930px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
