@import '../../global/variables.css';
@keyframes fadeOut {
  0% {
      opacity: 1;
      filter: blur(0);
  }
  99% {
      filter: blur(.1rem);

      opacity: 0;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      visibility: visible;
  }
  1% {
      filter: blur(.1rem);

      opacity: 0;
  }
  100% {
      filter: blur(0);

      opacity: 1;
  }
}

:host {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.header:hover {
  cursor: pointer;
}

.header:hover .title,
.header:hover .subtitle {
  color: var(--primary-purple);
}

.title {
  display: inline-flex;
  width: 100%;
  margin: 0;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: var(--primary-purple);
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  text-align: left;
}

.title h4 { 
  margin: 0;
  line-height: 3rem;
}

.title .button {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  padding: 0;
  
  appearance: none;
  background-color: transparent;
  border: 0;
}

.title .button:after {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0;

  transition: background-image 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  content: "";

  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg enable-background='new 0 0 123.97 123.97' version='1.1' viewBox='0 0 123.97 123.97' fill='%2338204A' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m51.802 96.062c2.801 2.801 6.5 4.2 10.2 4.2s7.4-1.399 10.2-4.2l47.3-47.3c5.5-5.5 6.101-14.6 0.8-20.3-5.6-6.1-15.1-6.3-20.899-0.5l-30.4 30.3c-3.899 3.9-10.2 3.9-14.1 0l-30.3-30.3c-5.801-5.8-15.301-5.7-20.9 0.5-5.3 5.7-4.8 14.8 0.8 20.3l47.299 47.3z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 11px;
}

.title .button[aria-expanded="true"]:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.content-wrapper {
    transition: height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: hidden;
}

.content-wrapper .content {
  animation: fadeOut 0.4s;
}

.content-wrapper .content.is-open {
  animation: fadeIn 0.4s;
}
