@import '../../global/variables.css';

.row {
  display: flex;
}

.row > div {
  /* padding: .5rem */
  font-family: var(--font-family);
  font-size: var(--paragraph-font-size);
  color: var(--primary-purple);
  margin-bottom: .5rem;
  /* line-height: 2rem */
}

.day {
  flex: 0 0 40px;
}
